<h1>Listing twitters</h1>

<table>
  <tr>
    <th>person</th>
    <th>quote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @twitters.each do |twitter| %>
  <tr>
    <td><%= twitter.person %></td>
    <td><%= twitter.quote %></td>
  </tr>
<% end %>
</table>

<br />
